/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* normalize */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* login */
.form {
    --accent-color: hsl(0, 40%, 52%);
    --secondary-color: hsl(0, 0%, 46%);
    --info-color: hsl(209, 38%, 46%);
    --success-color: hsl(104, 42%, 35%);
    --x: 1rem;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
}
.cell {
    position: relative;
    width: 100%;
    max-width: 15em;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--x);
    margin: var(--x) 0;
}
.cell_button {
    margin-top: 3em;
    padding-left: 0;
    padding-right: 0;
}
.input, .button, .label {
    padding: 1em var(--x);
    width: 100%;
}
.input, .button {
    font-size: 1em;
}
.input {
    --width: 2px;
    border: none;
    border-bottom: var(--width) solid hsl(0, 0%, 89%);
    background-image: linear-gradient(to right, hsl(29, 88%, 65%), hsl(0, 79%, 64%));
    background-repeat: no-repeat;
    background-position: 0 calc(100% + var(--width)), 0 0;
    background-size: 100% var(--width);
    transition: border-color 0.3s linear;
}
.input:focus {
    outline: none;
    border-color: transparent;
}
.input:focus + label,
.input:valid + label {
    transform: translateY(-100%);
    color: hsl(0, 0%, 45%);
}
.input::placeholder {
    transition: color 0.3s;
}
.input:not(:focus)::placeholder {
    color: transparent;
}
.label {
    position: absolute;
    bottom: 0;
    left: var(--x);
    right: var(--x);
    padding-top: 0;
    transform: translateY(0);
    transition: transform 0.3s;
}
.button {
    border: none;
    border-radius: 10em;
    background-color: var(--accent-color);
    background-image: linear-gradient(to bottom, hsl(29, 88%, 65%), hsl(0, 79%, 64%));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: bolder;
    letter-spacing: 0.04em;
    transition: box-shadow 0.5s;
}
.button:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--accent-color);
}
.alert {
    font-size: small;
    color: var(--secondary-color);
}
.alert_info {
    color: var(--info-color);
}
.alert_error {
    color: var(--accent-color);
}
.alert_success {
    color: var(--success-color);
}
