:root {
    --accent: hsl(211, 66%, 41%);
}
/* Sidebar */
.tocify-wrapper {
    display: flex;
    flex-flow: column;
    overflow: unset;
    background-color: hsl(202, 8%, 20%);
}
.tocify {
    flex-grow: 1;
    overflow: auto;
}
.tocify-wrapper img {
    max-width: 100%;
    height: 68px;
}
.tocify-wrapper > .search input {
    background-color: transparent;
}
.tocify-wrapper .search-results {
    flex-shrink: 0;
    background: hsl(211, 26%, 31%);
}
.tocify-wrapper .tocify-subheader {
    --y: 0.5em;
    margin-top: var(--y);
    margin-bottom: var(--y);
    padding-top: var(--y);
    padding-bottom: var(--y);
    background-color: hsl(200, 9%, 13%);
    background-image: unset;
}
.tocify-wrapper .toc-footer li {
    white-space: unset;
}
/* General */
.page-wrapper {
    background-color: hsl(200, 33%, 96%);
}
.page-wrapper .lang-selector {
    border-bottom: unset;
}
.lang-selector a.active,
.page-wrapper .dark-box {
    background-color: hsl(202, 8%, 20%);
}
/* Content */
.label {
    border-radius: 9px;
    padding: 1px 9px 2px;
    font-weight: bold;
    white-space: nowrap;
    color: white;
    background-color: hsl(0, 0%, 32%);
}
.label_primary {
    color: white;
    background-color: hsl(200, 54%, 31%);
}
.content aside {
    background-color: hsl(201, 45%, 70%);
    color: hsl(0, 0%, 20%);
}
.content aside.warning {
    background-color: hsl(357, 42%, 63%);
}
.content aside.success {
    background-color: hsl(127, 41%, 59%);
}
.content blockquote {
    padding: 1.5em 1em;
    background-color: hsl(200, 11%, 11%);
}
:root .content pre {
    margin: 0;
    background-color: hsl(200, 9%, 13%);
}
.content blockquote > p {
    padding: unset;
    background: unset;
    border: unset;
}
.content hr {
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 30%);
}
.content aside,
.content dl,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content ol,
.content p,
.content table,
.content ul {
    --x: 1.75rem;
    padding-left: var(--x);
    padding-right: var(--x);
    text-shadow: unset;
}
.content h2 {
    border: solid hsl(0, 0%, 80%);
    border-width: 1px 0;
    background-color: white;
    background-image: unset;
}
.content .search-highlight {
    --o: 1px;
    margin: calc(var(--o) * -1);
    padding: var(--o);
    border: unset;
    background-color: hsl(55, 92%, 58%);
    background-image: unset;
    color: hsl(180, 7%, 3%);
    text-shadow: unset;
}
:root:root code {
    font-family: 'Fira Code', 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
}
:root:root *:not(pre) > code {
    --o: 2px;
    padding-left: var(--o);
    padding-right: var(--o);
}
.content > pre:last-of-type {
    min-height: calc(100vh - (75px * 2));
}
/* Dark theme support */
@media (prefers-color-scheme: dark) {
    body {
        background: hsl(202, 8%, 25%);
        color: white;
    }
    a {
        color: white;
    }
    .page-wrapper {
        background-color: inherit;
    }
    .content h1 {
        border-color: transparent;
        background: hsl(202, 8%, 35%);
        color: white;
    }
    .content h2 {
        border-color: hsl(0, 0%, 35%);
        background-color: hsl(202, 8%, 28%);
    }
    .content > p {
        text-shadow: none;
    }
    .content table th,
    .content table tr:last-child {
        border: unset;
    }
    .content table thead td,
    .content table thead th,
    .content table tbody tr:nth-child(odd) td,
    .content table tfoot td,
    .content table tfoot th {
        background-color: hsl(202, 8%, 26%);
    }
    .content table tr:nth-child(even) > td {
        background-color: hsl(202, 8%, 29%);
    }
}
